.sensibo-thermostats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.sensibo-thermostats.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 12px;
  padding: 10px;
  width: 100%;
}

.thermostat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 140px;
  transition: transform 0.3s;
}

.thermostat-item:hover {
  transform: scale(1.05);
}

.thermostat-item .small-icon {
  font-size: 1.3em; /* Smaller icon size */
  color: #3498db;
  margin-bottom: 6px;
}

.thermostat-room-name {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1em;
}

.thermostat-status {
  font-size: 0.85em;
  color: #ddd;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thermostat-status .temperature,
.thermostat-status .humidity {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.temperature i,
.humidity i {
  font-size: 1em;
  margin-right: 5px;
  color: #a3c4dc; /* Lighter blue for icons */
}
